<div class="container">
    <% @posts.each do |post| %>
      <div class="panel panel-default">
        <div class="panel-heading"><%= post.user.display_name %></div>
        <div class="panel-body">
          <%= post.content %>
        </div>
      </div>
    <% end %>
</div>
